<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
<title>Bienvenu sur le serveur apache n°{{ node_number }}</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Bienvenu sur le serveur apache n°{{ node_number }}</h1>

<p><em>Merci d'utiliser ansible plutôt que d'infliger de l'adminsys adhoc à la face du monde.</em></p>
</body>
</html>
